extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit urna mauris, quis auctor dolor rutrum non. Sed tellus felis, pharetra sit amet dolor nec, pellentesque mollis metus. Suspendisse at dui orci. Proin eget posuere diam. Donec rutrum tincidunt mi, id viverra dui efficitur at. Phasellus mi urna, commodo ut aliquam eget, cursus quis lacus. Donec id sagittis massa, nec faucibus purus.

                p vitae felis vitae ante elementum consequat. Nunc pretium, elit quis luctus tempor, velit ligula pulvinar lectus, et congue mauris risus a tortor. Nullam nisl lorem, condimentum quis bibendum vitae, finibus sed ante. In hac habitasse platea dictumst. Quisque vitae odio felis. Curabitur vestibulum viverra sem quis vulputate. Nullam dui nisl, rhoncus at velit seditur vel. Ut ac

                p at ornare erat, sit amet luctus ipsum. Aenean eget lacus a orci interdum vulputate ullamcorper ut quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam consequat vel lacus ac feugiat. Integer ornare velit lorem, sed tempus

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore alias possimus dicta quos natus aut dolores, fuga rerum a laboriosam animi ipsam eaque est pariatur
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore alias possimus dicta quos natus aut dolores, fuga rerum a laboriosam animi ipsam eaque est pariatur
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore alias possimus dicta quos natus aut dolores, fuga rerum a laboriosam animi ipsam eaque est pariatur